
.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent white transparent white;
    -fx-background-color: transparent, derive( #656565,100%);
}

.split-pane:vertical > .split-pane-divider {
    -fx-border-color: transparent white transparent white;
    -fx-background-color: transparent, derive( #656565,100%);
}
.split-pane {
    -fx-padding: 1 0 0 0;
     -fx-border-color:white;
}
.split-pane > .split-pane-divider {  
    -fx-padding: 0 0.20em 0 0.20em;  
} 

