
.tab-header-background {
    -fx-background-color:   white;

    
}
.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-family: "Segoe UI Semibold";
   
}
.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #154360;
    -fx-stroke-width: 3pt;
}

