
.tab-header-background {
    -fx-background-color:    #134a2b;

    
}
.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-family: "Segoe UI Semibold";
   
}
